In [1]:
# To complete this challenge, determine the five most common journals and the total articles for each. 
# Next, calculate the mean, median, and standard deviation of the open-access cost per article for each journal.
# For a real bonus round, identify the open access prices paid by subject area.

import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('./Thinkful/Welcome_Thinkful.csv', encoding = "ISO-8859-1")

In [3]:
df.shape

(2127, 5)

In [4]:
df.dtypes

PMID/PMCID                                             object
Publisher                                              object
Journal title                                          object
Article title                                          object
COST (£) charged to Wellcome (inc VAT when charged)    object
dtype: object

In [5]:
df.head(5)

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [6]:
df.tail(5)

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
2122,2901593,Wolters Kluwer Health,Circulation Research,Mechanistic Links Between Na+ Channel (SCN5A) ...,£1334.15
2123,3748854,Wolters Kluwer Health,AIDS,Evaluation of an empiric risk screening score ...,£1834.77
2124,3785148,Wolters Kluwer Health,Pediatr Infect Dis J,Topical umbilical cord care for prevention of ...,£1834.77
2125,PMCID:\n PMC3647051\n,Wolters Kluwer N.V./Lippinott,AIDS,Grassroots Community Organisations' Contributi...,£2374.52
2126,PMID: 23846567 (Epub July 2013),Wolters Kluwers,Journal of Acquired Immune Deficiency Syndromes,A novel community health worker tool outperfor...,£2034.75

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
PMID/PMCID                                             1928 non-null object
Publisher                                              2127 non-null object
Journal title                                          2126 non-null object
Article title                                          2127 non-null object
COST (£) charged to Wellcome (inc VAT when charged)    2127 non-null object
dtypes: object(5)
memory usage: 83.2+ KB

In [10]:
df['Publisher'] = df['Publisher'].str.strip()
df['Publisher'].replace(['ACS (Amercian Chemical Society) Publications', 'ACS', 'American Chemical Society', 'AMERICAN CHEMICAL SOCIETY', 'American Chemical Society Publications'], 'ACS Publications', inplace = True)
df['Publisher'].replace(['The American Society for Biochemistry and Molecular Biology, Inc','American Soc for Biochemistry and Molecular Biology','The American Society for Biochemistry and Molecular Biology', 'American Society for Biochemistry and Molecular Biolgy'], 'American Society for Biochemistry and Molecular Biology', inplace = True)
df['Publisher'].replace(['American Society of Haematology','American Society of Hamatology'], 'American Society of Hematology', inplace = True)
df['Publisher'].replace(['American Society for Microbiology', 'ASM (American Society for Microbiology)','ASM'], 'American Society of Microbiology', inplace=True)
df['Publisher'].replace(['ASBMB Cadmus', 'ASBMB/Cadmus', 'ASBMB/Cenveo Publisher Services', 'ASBMC /CENVEO'], 'ASBMB', inplace=True)
df['Publisher'].replace('Benthan Science Publishers', 'Bentham Science Publishers', inplace=True)
df['Publisher'].replace(['BioMed Central Limited', 'Biomed Central', 'BioMed central', 'BioMed Central'], 'BioMed Central Ltd', inplace=True)
df['Publisher'].replace('BioScientifica', 'Bioscientifica', inplace=True)
df['Publisher'].replace(['BMJ Group', 'BMJ group', 'BMJ Journals', 'BMJ Publishing Group', 'BMJ PUBLISHING GROUP', 'BMJ Publishing Group Ltd', 'BMJ Publishing Group Ltd & British Thoracic Society' ], 'BMJ', inplace=True)
df['Publisher'].replace(['Cadmus', 'CADMUS JOURNAL SERVICE','Camdus Journal Services', 'CADMUS JOURNAL SERVICES'], 'Cadmus Journal Services', inplace=True)
df['Publisher'].replace(['Cambridge Univ Press', 'Cambridge Uni Press'], 'Cambridge University Press', inplace=True)
df['Publisher'].replace('Cenveo Publisher Services/ASM JV1', 'Cenveo Publisher services', inplace=True)    
df['Publisher'].replace(['Cold Spring Habour Press', 'Cold Spring Harbor', 'Cold Spring Harbor Press','Cold Spring Harbor Publications' ], 'Cold Spring Harbor Laboratory Press', inplace=True)
df['Publisher'].replace(['The company of Biolgists','THE COMPANY OF BIOLOGISTS','The company of Biologists', 'The Company of Biologists Ltd', 'Company of Biologist', 'Company of Biologists', 'Company of Biologists Ltd' ], 'The Company of Biologists', inplace=True)
df['Publisher'].replace(['Darmouth Journal Services', 'Dartmouth Journals'], 'Dartmouth Journal Services', inplace=True)
df['Publisher'].replace(['Elseveier Science', 'ELSEVIER','Elsevier (Cell Press)', 'Elsevier / Cell Science','Elsevier B.V.', 'Elsevier Ltd', 'Elsevier/Cell Press'], 'Elsevier', inplace=True)
df['Publisher'].replace(['Federation of American Societies for Experimental Biology','Federation of American Societies for Experimental Biology (FASEB)', 'Federation of the American Society of Experimental Biology'], 'FASEB', inplace=True)
df['Publisher'].replace(['Frontiers', 'Frontiers Media SA' ], 'Frontiers Media', inplace=True)
df['Publisher'].replace(['Future Medicine Ltd'], 'Future Medicine', inplace=True)
df['Publisher'].replace(['Hindawi Publishing Corporation'], 'Hindawi', inplace=True)
df['Publisher'].replace(['Impact Journals LLC'], 'Impact Journals', inplace=True)
df['Publisher'].replace(['Informa Healthcare communications'], 'Informa Healthcare', inplace=True)
df['Publisher'].replace(['International Union Against tuberculosis and Lung Disease'],  'International Union Against Tuberculosis and Lung Disease', inplace=True)
df['Publisher'].replace([  'International Union of Crystallography (iucr)'], 'International Union of Crystallography', inplace=True)
df['Publisher'].replace(['Wliey-Blackwell','Wiley', 'Wiley & Son','Wiley Blackwell', 'Wiley Online Library', 'Wiley Subscription Services', 'Wiley Subscription Services  Inc.', 'Wiley Subscription Services Inc', 'Wiley Subscription Serviices Inc', 'Wiley VCH', 'Wiley/Blackwell', 'Wiley-Blackwell', 'Wiley-Blackwell, John Wiley & Sons', 'Wiley-VCH', 'Wliey-Blackwell''John Wiley', 'JOHN WILEY & SONS','John Wiley & Sons', 'John Wiley & Sons Inc',  'John Wiley & Sons Ltd', 'John Wiley & Sons, Inc.', 'John Wiley and Sons'], 'John Wiley and Sons Ltd', inplace=True)
df['Publisher'].replace(['JoVE'], 'Journal of Visualized Experiments', inplace=True)
df['Publisher'].replace(['KARGER'], 'Karger', inplace=True)
df['Publisher'].replace(['Landes Biosciences'], 'Landes Bioscience', inplace=True)
df['Publisher'].replace(['Mary Ann Liebert', 'MARY ANN LIEBERT INC', 'Mary Ann Liebert, Inc. Publishers'], 'Mary Ann Liebert, Inc.', inplace=True)
df['Publisher'].replace(['MIT PRESS OPEN ACCESS'], 'MIT Press', inplace=True)
df['Publisher'].replace(['MY JOVE CORP', 'My JOVE corporation','MYJoVE Corporation'], 'MYJoVE Corporation', inplace=True)
df['Publisher'].replace(['National Academy of Sciences','National Academy of Sciences of the United States of America','National Academy of Sciences USA', 'National Academy of Sciences, USA'], 'National Academy of Sciences', inplace=True)
df['Publisher'].replace(['Nature', 'Nature PG','Nature Publishing', 'Nature Publishing Group', 'Nature publishing group', 'NATURE PUBLISHING GROUP LTD', 'NPG'], 'Nature Publishing Group', inplace=True)
df['Publisher'].replace(['Oxford Journals', 'Oxford Journals (OUP)', 'Oxford Univ Press','Oxford University Press', 'OXFORD UNIVERSITY PRESS','Oxford University Press (OUP)', 'Oxford Univesity Press'], 'Oxford University Press', inplace=True)
df['Publisher'].replace(['PLOS','PLoS', 'Plos', 'PLoS (Public Library of Science)', 'PLoS Public Library of Science'], 'PLOS', inplace=True)
df['Publisher'].replace(['PNAS Author Publication','Proceedings of the National Academy of Sciences (PNAS)'], 'PNAS', inplace=True)
df['Publisher'].replace(['Portland Press', 'Portland press','PORTLAND PRESS LTD'], 'Portland Press Ltd', inplace=True)
df['Publisher'].replace(['Royal Society', 'Royal Society for Chemistry','Royal Society of Chemistry', 'RSC', 'RSC Publishing'], 'Royal Society of Chemistry', inplace=True)
df['Publisher'].replace(['SAGE', 'Sage', 'Sage Publications', 'SAGE Publications', 'Sage Publications Inc', 'Sage Publications Ltd', 'Sage Publishers', 'Sage Publishing'], 'SAGE Publications', inplace=True)
df['Publisher'].replace([''], '', inplace=True)
df['Publisher'].replace(['Society for Genermal Microbiology', 'Society of General Microbiology'], 'Society for General Microbiology', inplace=True)
df['Publisher'].replace(['Society for Neurosciences', 'SOCIETY OF NEURO SCIENCES','Society of Neuroscience'], 'Society for Neuroscience', inplace=True)
df['Publisher'].replace(['Society of Leukocyte Biology'], 'Society for Leukocyte Biology', inplace=True)
df['Publisher'].replace(['Springer', 'Springer - Verlag GMBH','Springer Verlag','Springer-Veriag GmbH', 'SPRINGER-VERLAG GMBH','Springer-Verlag GmbH', 'Springer-Verlag GMBH & Ci','Springer-Verlag GmbH'], 'Springer-Verlag GmbH', inplace=True)
df['Publisher'].replace(['T&F', 'Taylor & Francis', 'Taylor & Francis Journals','Taylor and Francis'], 'Taylor & Francis', inplace=True)
df['Publisher'].replace(['Endocrine Society', 'The Endocrine Socety', 'The Endocrine Society', 'THE ENDOCRINE SOCIETY', 'The Endrocrine Society'], 'The Endocrine Society', inplace=True)
df['Publisher'].replace(['The royal Society'], 'The Royal Society', inplace=True)
df['Publisher'].replace(['Wolters Kluwer','Wolters Kluwer Health', 'Wolters Kluwer N.V./Lippinott', 'Wolters Kluwers'], 'Wolters Kluwer', inplace=True)
df.Cost.replace('$', '', inplace=True)
df.dropna(subset=['Publisher'], inplace=True)

In [11]:
df.Publisher.value_counts()

Elsevier                          408
Public Library of Science         278
John Wiley and Sons Ltd           265
Oxford University Press           111
Springer-Verlag GmbH               92
                                 ...
Open Access Reg Ltd                 1
Copyright Clearace Center           1
Scientific Research Publishing      1
Transcript Verlag                   1
J Med Internet Research             1
Name: Publisher, Length: 123, dtype: int64

In [12]:
df.columns = ['PMID/PMCID', 'Publisher', 'Journal title', 'Article title',
       'Cost']

In [13]:
df.columns

Index(['PMID/PMCID', 'Publisher', 'Journal title', 'Article title', 'Cost'], dtype='object')

In [14]:
df.Cost = df.Cost.str[1:]

In [15]:
df.head(5)

,PMID/PMCID,Publisher,Journal title,Article title,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS Publications,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS Publications,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS Publications,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS Publications,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [16]:
df.Cost = df.Cost.str.replace(r'\$', '')

In [19]:
df.Cost = df.Cost.astype(float)

In [33]:
df= df[df['Cost'] !=999999.00]

In [34]:
df.Cost.mean()

2008.499576923077

In [35]:
df.Cost.median()

1851.65

In [36]:
df.Cost.std()

6101.564910321339